<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h2>Formulario Empleado</h2>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input [(ngModel)]="modelEmpleado.name" name="name" type="text" class="form-control"/>
        </div>
        
        <div class="form-group">
          <label for="last_name">Apellido:</label>
          <input [(ngModel)]="modelEmpleado.last_name" name="last_name" type="text" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="birthday">Cumpleaños:</label>
          <input [(ngModel)]="modelEmpleado.birthday" name="birthday" type="text" class="form-control"/>
        </div>
        
        <div class="card-footer">
          <input (click)="Actualizar(modelEmpleado)" value="Aceptar" class="btn btn-success"/>
        </div>

      </form>
    </div>
  </div>
</div>  